name: Lint et tests fonctionnels
on:
  push:
    branches: [master]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: '20'
      - name: Install deps
        run: npm install
      - run: npm yarn install
      - name: ESLint
        run: npm run lint

