name: security-scan.yml
on:
  push:
    branches: [master]

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Base scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          target: "https://example.com"

      - name: Upload Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: report.html